@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --youtube: #c4302b;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  text-align: center;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 100px;
}
footer .logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .logo-footer h2 {
  font-size: small;
  color: white;
}
footer .logo-footer p {
  color: white;
}
footer .redes-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .redes-container ul, footer .redes-container button {
  margin: 0 5px;
  text-align: center;
}
footer .redes-container ul a, footer .redes-container button a {
  padding: 0 10px;
  color: #fff;
  font-size: 18px;
}

button {
  font-size: 1em;
  font-weight: lighter;
  padding: 10px 30px;
  border: 1px solid black;
  box-shadow: 2px 2px 10px black;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button:hover {
  background-color: rgb(208, 222, 233);
}

.presentacion {
  padding: 40px 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}
.presentacion h1 {
  padding-bottom: 20px;
  font-weight: normal;
}
.presentacion p {
  font-weight: light;
  max-width: 700px;
  margin: auto;
}

.padre {
  padding: 30px;
  margin-top: 0.5em;
  background-color: whitesmoke;
  display: grid;
  grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
}
.padre img {
  filter: brightness(80%);
  padding: 5px;
  width: 250px;
  height: 300px;
  margin-top: 15px;
}
.padre img:hover {
  filter: brightness(60%);
}
.padre .texto-encima {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 720px) {
  .padre {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  }
  .padre img {
    width: 300px;
    height: 400px;
  }
}
@media (min-width: 950px) {
  .padre {
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6";
  }
  .padre img {
    width: 300px;
    height: 400px;
  }
}
@media (min-width: 1231px) {
  .padre {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "img1 img2 img3 img4" "img5 img6 ";
  }
}

.recomendados {
  max-width: 100%;
  padding: 50px 20px;
  justify-content: center;
}
.recomendados h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.compromisos {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: rgb(227, 227, 227);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "h1" "p" "ul" "a";
}
.compromisos ul {
  list-style: none;
  font-size: x-large;
  padding-bottom: 50px;
}
.compromisos h1 {
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 25px;
  padding-bottom: 25px;
}
.compromisos p {
  max-width: 900px;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 50px;
}
.compromisos a {
  margin-left: 2em;
  margin-right: 2em;
  font-size: large;
  font-weight: bolder;
}
@media (min-width: 1023px) {
  .compromisos {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h1" "ul" "p" "a";
  }
}

.hero-sostenible {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/economiser-les-ressources.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-sostenible h1 {
  color: white;
}

#video {
  padding-top: 100px;
  padding-bottom: 50px;
}
#video video {
  max-width: 100%;
  width: 100%;
}

#texto-grande {
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.maderas-macizas {
  display: grid;
  margin: 2em;
  grid-template-columns: 1fr;
  grid-template-areas: "h1" "p" "img";
}
.maderas-macizas .imagen-arriba img {
  width: 100%;
  max-width: 100%;
  height: 80vh;
}
@media (min-width: 1023px) {
  .maderas-macizas {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h1" "img" "p" "img";
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 90vh;
  color: whitesmoke;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Cama\ ratan\ centrada.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero h2 {
  color: white;
  font-weight: lighter;
  padding-bottom: 30px;
}

.OfertasImperdibles {
  padding: 50px;
  align-items: center;
  height: auto;
  width: 100%;
}
.OfertasImperdibles h1 {
  padding-bottom: 40px;
  text-align: center;
  font-weight: light;
}
.OfertasImperdibles h3 {
  font-weight: lighter;
  text-align: center;
}
.OfertasImperdibles .imagenesOfertas {
  display: grid;
  grid-template-areas: "img1" "img2" "img3" "img4";
  justify-content: center;
  gap: 40px;
}
.OfertasImperdibles .imagenesOfertas .img:hover {
  -webkit-animation: ofertas 2s;
          animation: ofertas 2s;
}
@-webkit-keyframes ofertas {
  0% {
    transform: scale(1.5);
  }
}
@keyframes ofertas {
  0% {
    transform: scale(1.5);
  }
}
@media (min-width: 768px) {
  .OfertasImperdibles .imagenesOfertas {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4";
  }
}
@media (min-width: 1380px) {
  .OfertasImperdibles .imagenesOfertas {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4";
  }
}

#nuestras-colecciones {
  background-color: whitesmoke;
  color: white;
  text-align: center;
}
#nuestras-colecciones .container {
  padding: 50px 50px;
}
#nuestras-colecciones .carta {
  height: 500px;
  padding: 20px 20px;
  margin: 20px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#nuestras-colecciones .carta a {
  text-decoration: none;
}
#nuestras-colecciones .carta a h3 {
  margin-top: 12px;
  color: white;
  font-weight: lighter;
  font-size: xx-large;
}
#nuestras-colecciones .carta a button {
  margin-top: 350px;
  font-weight: lighter;
  font-size: large;
}
#nuestras-colecciones .carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/comedor.png);
}
#nuestras-colecciones .carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/dormitorio.jfif);
}
#nuestras-colecciones .carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/jardin.png);
}

.ventajas {
  padding-top: 100px;
  transition: all 2s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ventajas li {
  list-style: none;
  font-weight: lighter;
  font-size: large;
  color: black;
}
.ventajas li i {
  color: black;
}

.razon {
  font-size: 2em;
  padding-top: 150px;
  padding-bottom: 100px;
}
.razon p {
  padding-top: 20px;
}
.razon img {
  width: 400px;
  height: 400px;
}
.razon .container {
  gap: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .razon .container {
    flex-direction: row;
  }
}
@media (min-width: 550px) {
  .razon .container img {
    width: 550px;
    height: 550px;
  }
}

@media (min-width: 1200px) {
  .carousel-inner img {
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 600px;
    max-height: 600px;
  }
}

.medioAmbiente {
  height: 80vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/economiser-les-ressources.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.medioAmbiente .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.medioAmbiente .container h1 {
  text-align: center;
  font-weight: lighter;
  color: white;
}
.medioAmbiente .container button {
  margin-top: 40px;
  font-weight: lighter;
  font-size: large;
}

.hero-quienes {
  padding: 35px;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/para\ quienes\ somos.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-quienes h1, .hero-quienes p {
  color: white;
}

.hero-video {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/quieneds\ 2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 35px;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-video h1 {
  color: white;
}
.hero-video p {
  padding-bottom: 30px;
  color: white;
}

.contratacion {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
@media (min-width: 1023px) {
  .contratacion {
    flex-direction: row;
  }
}
.contratacion .container {
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contratacion h1 {
  margin-bottom: 35px;
}
.contratacion p {
  max-width: 700px;
}
.contratacion .formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contratacion .formulario h2 {
  font-weight: 400;
}
.contratacion .formulario input {
  margin: 10px;
}
.contratacion .formulario option {
  margin: 20px;
}

.container-quienes {
  background-color: rgb(227, 227, 227);
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 35px;
}

p {
  max-width: 700px;
}
p .container {
  background-color: rgb(227, 227, 227);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  color: black;
}

h2, h3, p {
  font-size: 1.8em;
  font-weight: lighter;
  color: black;
}

nav ul li {
  list-style: none;
  color: black;
  text-decoration: none;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
  position: relative;
  display: inline-block;
  text-align: center;
}

@media (min-width: 768px) {
  .logo {
    width: auto;
    height: auto;
  }
}
@media (min-width: 1023px) {
  .logo {
    width: auto;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */